@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-emaz-blue text-white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-emaz-blue;
}

::-webkit-scrollbar-thumb {
  @apply bg-emaz-gold/30 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-emaz-gold/50;
}
